<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.Careye.rtsp.player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-feature android:name="android.hardware.camera" />

<!--
    <uses-permission android:name="android.permission.READ_LOGS" />
-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!--EasyPlayer RTSP-->
    <application
        android:name="org.Careye.CarEyePlayer.TheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="car-eye-player"

        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5700bb7467e58ef3fd000648" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/app_flavor" />

        <activity
            android:name="org.Careye.CarEyePlayer.PlaylistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.Careye.CarEyePlayer.TwoWndPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.Careye.CarEyePlayer.YUVExportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="org.Careye.CarEyePlayer.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name="org.Careye.CarEyePlayer.PlayActivity"
            android:label="car-eye-player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.Careye.CarEyePlayer.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="org.Careye.CarEyePlayer.MediaFilesActivity"
            android:label="文件夹" />


        <activity android:name="org.Careye.CarEyePlayer.AboutActivity"></activity>
    </application>

</manifest>